.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.box{
    background-color: antiquewhite;
    border: 2px solid pink;
    width: fit-content;
    height: fit-content;
    display: flex;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}
.Result{
    color: red;
    text-align: center;
}

